.Xclients
.lesshst
.bash_logout
.bash_profile
.bashrc
.cache
.cgdb
.config
.dir_colors
.git-credentials
.gnupg
.kde4
.local
.mozilla
.npm
.pki
.renderdoc
.ssh
.xinitrc
.zcompdump
.zhistory
.zshrc
Desktop
Downloads
Templates
bin
nvme
storage
